// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-yellow: rgb(255, 255, 127);
$color-background: rgb(81, 81, 81);
$color-black: black;
$color-aqua: aqua;
$color-medium:mediumaquamarine;
$color-light: rgb(93, 234, 234);
$color-favorites:orange;