<main class="main">
  <h1>Buscador de series Anime</h1>

  <div class="search-section">
    <input type="text" placeholder="Buscar series de anime" class="js-input" />
    <button class="js-buttonsearch">Buscar</button>
    <button class="js-buttonreset">Reset</button>
  </div>
  <section class="container">
    <div class="favorites-section">
      <h2>Series Favoritas</h2>
      <ul class="favorites-list js-favoriteslist"></ul>
    </div>

    <div class="results-section">
      <h2>Resultados de Búsqueda</h2>
      <ul class="results-list js-resultslist"></ul>
    </div>
  </section>
</main>
